<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewEditWH31-32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AEDBFB51C5A19B000301B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEDBFCE1C5A19B000301B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEDBFD91C5A19B000301B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
